
<!-- Page Header -->
<header class="intro-header" style="background-image:url('<%= page["header-img"] || config.root + config["header-img"] %>')">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1> <%= page.title || config.title %> </h1>
              </div>
          </div>
      </div>
  </div>
</header>

<h2>
  <span class="subheading"><%= page.description || config.subtitle || "Look For Less Do More" %></span>
</h2>

<div id="projectsApp">
  <% page.posts.each(function(post,index){ %>  
    <% var coverImg = post["header-img"] ? url_for(post.path) + post["header-img"] : url_for(config["header-img"]) %>
    <a href="#/<%= post.path %><%= index %>">
      <div class="projects" id="item<%= index %>" attr-path="<%= post.path %>" attr-title="<%= post.title || "Untitled" %>" attr-content="<%= post.content %>" attr-img="<%= coverImg %>" style="background: url('<%= coverImg %>')">
        <h3 class="beforeTitle"> <%- post.title || "Untitled" %> </h3>
        <div class="info">
          <h1 class="fadeTitle"> <%- truncate(strip_html(post.content), {length: 50, omission: '...'}) %> </h1>
          <hr>
        </div>
        <p class="backArrow"><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
      </div>
    </a>
  <% }); %>

  <div class="selectedArea">
    <h1 id="selectImg"><span id="selectTitle"></span></h1>
    <div id="selectContent" class="copyArea"></div>
  </div>

</div>

<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

<script>
	(function() {
		var isSelected = false,resizeTimer,scrollBackTo;
		$(document).ready(function() {
			resizeProjectDivs();
			//click
			$(".projects").on("click",function(){
			showPost($(this));
			});

			$(window).on('load',function(){
				var url = window.location.href;
				if(!isNaN(url.substr(url.length-1,1))){
					showPost($("#item"+url.substr(url.length-1,1)))
				}
			}) 
			$(window).on("resize", function(e) {
				clearTimeout(resizeTimer);
				resizeTimer = setTimeout(function() {
					if (isSelected == false) {
					resizeProjectDivs();
					}
				}, 250);
			});	
		});	
		function showPost (domNode) {
			var self = domNode;
			if ($(self).hasClass("openedProject")) {
				isSelected = false;
				window.history.go(-1)
				$(self).addClass("midTransition");
				$(self).removeClass("openedProject");

				setTimeout(function() {
					$(self).removeClass("midTransition");
					$(".selectedArea").removeClass("opened");
				}, 800);
				setTimeout(function() {
					$(".projects").removeClass("hidden");
					$(".projects").removeClass("shrunk");
				}, 1200);
				setTimeout(function() {
					$("html, body").animate({ scrollTop: scrollBackTo}, 500);
				}, 1600);		
			} else {
				isSelected = true;
				window.scrollTo(0, 0);
				scrollBackTo = $(self).offset().top;
				$(self).addClass("midTransition");
				$(".projects").addClass("hidden");
				$(self).removeClass("hidden");
				//填充内容
				$("#selectTitle").text($(self).attr("attr-title"));
				$("#selectContent").html($(self).attr("attr-content"));
				$("#selectImg").css("background","url("+$(self).attr('attr-img')+")");       
				setTimeout(function() {
					$(".selectedArea").addClass("opened");
					$(self).addClass("openedProject");
					$(self).removeClass("midTransition");
					$(".projects").addClass("shrunk");
					$(self).removeClass("shrunk");			
					
				}, 800);
			}  
		}

		function resizeProjectDivs() {
			var midRange = false;
			var smallRange = false;
			var winWidth = $(window).width();
			if (winWidth < 920 && 620 < winWidth) {
				midRange = true;
			}
			if (winWidth < 720) {
				smallRange = true;
			}
			var i = 0;

			$(".projects").each(function() {
				var pWidth = $(this).width();
				var pHeight;
				if (midRange == true) {
				pHeight = pWidth * 0.5;
				} else if (smallRange == true) {
				pHeight = pWidth;
				} else {
				pHeight = pWidth * 1.5;
				}
			
				$(this).css("height", pHeight + "px");
				i++;
			});
		}	

	})()
</script>

